# Зависимости
node_modules/
package-lock.json

# Сборка
dist/
build/

# Логи
*.log
npm-debug.log*

# Кэш
.cache/
.eslintcache

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Системные файлы
.DS_Store
Thumbs.db

# Окружение
.env
.env.local
.env.production

# Тесты
coverage/
