<div class="profile-page">
  <div class="profile-page__sidebar" id="sidebar-container"></div>
  <div class="profile-page__main">
    <div class="profile-page__container" id="profile-container"></div>
  </div>
</div>