<div class="statistics-modal">
  <div class="statistics-modal__backdrop" data-close-statistics></div>
  <div class="statistics-modal__panel">
    <button class="statistics-modal__close" data-close-statistics>×</button>
    <h2 class="statistics-modal__title">Статистика</h2>

    <div class="statistics-modal__body" id="statistics-body">
      <div class="statistics-modal__loader">Загрузка...</div>
    </div>
  </div>
</div>
